extends ./layout.pug

block content
        script(src='js/main.js')

        form.was-validated(enctype='multipart/form-data' action='creat/convert' method='post'  name = 'creat' )
            
            label.form-label(for="avatar") Link hình
            .input-group.mb-3
                input.form-control(type="text"  , name="avatar" required)
            

            label.form-label(for="name") Tên truyện
            .input-group.mb-3
                input.form-control(type="text" , name='name' required ) 
       
        
            label.form-label( for='otherName') Tên khác
            .input-group.mb-3
            
                input.form-control(type="text"  , name='ortherName' required)
        
            label.form-label(for="") Tác giả
            .input-group.mb-3
            
                input.form-control(type="text" ,  name='author' required)
        
        

            label.form-label(for="") tình trạng
            select.form-select.form-control(aria-label='Default select example' name='status' required)
                option(selected='') Open this select menu
                option(value='Đang tiến hành') Đang tiến hành
                option(value='Drop') Drop
                option(value='Hoàn thành') Hoàn thành

            label.form-label(for="") Truyện Chữ
            .input-group.mb-3

                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Bách Hợp' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Bách Hợp
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Cổ Đại' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Cổ Đại
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Convert' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Convert
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Đam Mỹ' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Đam Mỹ
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Điền Văn' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Dị Giới
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Dị Năng' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Dị Năng
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Đoản Văn' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Đoản Văn
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Đông Phương' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Đông Phương
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Đô Thị' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Đô Thị
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Hài Hước' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Huyền Huyễn
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Khoa Huyễn' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Khoa Huyễn
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Kiếm Hiệp' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Kiếm Hiệp
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Lịch Sử' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Lịch Sử
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Light Novel' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Light Novel
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Linh Dị' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Linh Dị
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Mạt Thế' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Mạt Thế
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Ngôn Tình' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Ngôn Tình
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Nữ Phụ' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Nữ Phụ
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Phương Tây' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Phương Tây
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Quân Sự' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Quân Sự
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Quan Trường' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Quan Trường
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Thám Hiểm' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Thám Hiểm
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Tiên Hiệp' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Tiên Hiệp
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Trọng Sinh' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Trọng Sinh
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Trung Cung Đấu' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Trung Cung Đấu
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Truyện Gia Đấu' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Truyện Gia Đấu
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Truyện Khác' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Truyện Khác
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Truyện Ngược' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Truyện Ngược
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Truyện Nữ Cường' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Truyện Nữ Cường
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Truyện Sắc' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Truyện Sắc
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Truyện Sủng' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Truyện Sủng
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Truyện Teen' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Truyện Teen
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Việt Nam' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Việt Nam
            
          
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Võng Du' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Võng Du
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Xuyên Không' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Xuyên Không
            label.form-label(for="") Truyện tranh
                br

                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Action' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Action
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Adult' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Adult
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Adventure' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Adventure
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Anime' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Anime
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Chuyển Sinh' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Chuyển Sinh
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Cổ Đại' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Comedy
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Comic' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Comic
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Demons' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Demons
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Detective' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Detective
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Doujinshi' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Doujinshi
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Drama' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Drama
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Đam Mỹ' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Đam Mỹ
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Gender Bender' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Gender Bender
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Harem' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Harem
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Historical' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Historycal
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Horror' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Horro
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Huyền Huyễn' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Isekai
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Josei' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Josei
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Mafia' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Mafia
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Magic' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Magic
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Manhua' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Manhua
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Manhwa' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Manhwa
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Martial Arts' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Martial Arts
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Mature' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Mature
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Military' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Military
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Mystery' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Mystery
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Ngôn Tình' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Ngôn Tình
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='One Shot' value='1' )
                    label.form-check-label(for='inlineCheckbox2') One Shot
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Psychological' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Psychological
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Romance' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Romance
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='School Life' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Trọng Sinh
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Sci-fi' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Sci-fi
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Shoujo' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Shoujo
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Shoujo Ai' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Shoujo Ai
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Shounen' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Shounen
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Slice of life' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Slice of life
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Smut' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Smut
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Sport' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Sport
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Supernatural' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Supernatural
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Tragedy' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Tragedy
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Trọng Sinh' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Trọng Sinh
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Truyện Màu' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Truyện Màu
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Webtoon' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Webtoon
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Xuyên Không' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Xuyên Không
                .form-check.form-check-inline
                    input#inlineCheckbox2.form-check-input(type='checkbox' name='Yaoi' value='1' )
                    label.form-check-label(for='inlineCheckbox2') Yaoi
                .form-check.form-check-inline
                    input#inlineCheckbox1.form-check-input(type='checkbox' name='Yuri' value='1' )
                    label.form-check-label(for='inlineCheckbox1') Yuri
                
            label.form-label(for="") Category 
            .input-group.mb-3

                select.form-select.form-control(aria-label='Default select example' , name = 'category' required)
                    option(selected='') Open this select menu
                    option(value='1') Truyên tranh
                    option(value='2') Truyện chữ
                    option(value='3') Sách
            
            label.form-label(for="") Độ dài
            .input-group.mb-3
            
                input.form-control(type="text" , name='lengthOfWork' required)
            
            label.form-label(for="") Ngày ra mắt
            .input-group.mb-3
            
                input.form-control(type="text" , name='date' required)
            .mb-3
                label.form-label(for='exampleFormControlTextarea1') Tóm tắt
                textarea#exampleFormControlTextarea1.form-control(rows='3'  name='sumary' required )


            label.form-label(for='file') Nội dung review
            .input-group.mb-3
            
                input#file.form-control(type='file' , name='file' required)
                        
            label.form-label(for='button')
            button.btn.btn-primary(type='submit') Submit
            a.m-4.btn.btn-primary(href ='/creat/list') List Content
            a.m-4.btn.btn-primary(href ='auth/signout') Sign out

                   