extends ./layout.pug

block content
        script(src='js/main.js')

        form.was-validated(enctype='multipart/form-data' action='creat/test' method='post'  name = 'creat' )
        


            label.form-label(for='file') Nội dung review
            .input-group.mb-3
            
                input#file.form-control(type='file' , name='file' required)
                        
            label.form-label(for='button')
            button.btn.btn-primary(type='submit') Submit
       
                   